<h1>Oprator Aritmatika</h1>

In [3]:
jumlahApel = 12
jumlahTeman = 4

apelPerTeman = jumlahApel / jumlahTeman
print("setiap orang akan menerima apel sebanyak:",apelPerTeman)

tambahanApel = 8
totalApel = jumlahApel + tambahanApel

print("total apel budi sekarang adalah sebanyak:",totalApel)

setiap orang akan menerima apel sebanyak: 3.0
total apel budi sekarang adalah sebanyak: 20

<h1>Operator Perbandingan</h1>

In [6]:
siti = 160 
andi = 165

print(siti, "=",andi,siti==andi)
print(siti, "!=",andi,siti!=andi)
print(siti, "<",andi,siti<andi)
print(siti, ">",andi,siti>andi)

print("jadi yang paling tinggi adalah andi sebesar",andi,"cm")

160 = 165 False
160 != 165 True
160 < 165 True
160 > 165 False
jadi yang paling tinggi adalah andi sebesar 165 cm

<h1>Operator Logika</h1>

In [9]:
cuacaCerah = True
prSelesai = True

bisaBermain = cuacaCerah and prSelesai
print("apakah budi bisa bermain di luar",bisaBermain)

apakah budi bisa bermain di luar True

<h1>Operator Bitwise</h1>

In [12]:
num1 = 6
num2 = 3

hasilAnd = num1 & num2
print("angka biner dari AND adalah:",bin(hasilAnd))


hasilOr = num1 | num2
print("angka biner dari OR adalah:",bin(hasilOr))

hasilXor = num1 ^ num2
print("angka biner dari XOR adalah:",bin(hasilXor))

angka biner dari AND adalah: 0b10
angka biner dari OR adalah: 0b111
angka biner dari XOR adalah: 0b101

<h1>Operator Penugasan</h1>

In [15]:
uangAwal = 50000
print("uangAwal",uangAwal)
uangAwal += 20000
print("setelah di tambah 20000 =",uangAwal)
uangAwal -= 30000
print("dia membeli paket internet sebesar 30000 =",uangAwal)

uangAwal 50000
setelah di tambah 20000 = 70000
dia membeli paket internet sebesar 30000 = 40000

<h1>Operator Keanggotaan</h1>

In [18]:
name = "eka"
daftarPesertaLomba = ["andi","budi","citra","dewi"]
hasil = name in daftarPesertaLomba
print("apakah terdaftar?",hasil)

kalimat = "saya suka belajar bahasa pyhton"
kataYangDiCari = "pyhton"
hasil = kataYangDiCari in kalimat
print("apakah kata",kataYangDiCari,"ada di kalimat",hasil)

apakah terdaftar? False
apakah kata pyhton ada di kalimat True

<h1>Operator Identitas</h1>

In [21]:
x = 30
y = 30

hasil = x is y
print("apakah x dan y mengacu pada objek yang sama?",hasil)

a = "siroyo"
b = "siroyo"

hasil = a is b
print("apakah a dan b mengacu pada objek yang sama?",hasil)

list1 = ["1","2","3"]
list2 = ["1","2","3"]

hasil = list1 is list2
print("apakah list1 dan list2 mengacu pada objek yang sama?",hasil)

apakah x dan y mengacu pada objek yang sama? True
apakah a dan b mengacu pada objek yang sama? True
apakah list1 dan list2 mengacu pada objek yang sama? False

<h1>Operator Ternary</h1>

In [3]:
angka = int(input("Masukan angka:"))
hasil = "Angka lebih besar dari 100" if angka > 100 else "Angka tidak lebih dari 100"
print(hasil)

nilaiUjian = int(input("Masukan nilai ujian:"))

kelulusan = "Lulus" if angka > 70 else "Tidak Lulus"
print(kelulusan)

Masukan angka: 123

Angka lebih besar dari 100

Masukan nilai ujian: 90

Lulus