In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('Data_Tanaman_Padi_Sumatera_version_1.csv')
df

,Provinsi,Tahun,Produksi,Luas Panen,Curah hujan,Kelembapan,Suhu rata-rata
0,Aceh,1993,1329536.00,323589.00,1627.0,82.00,26.06
1,Aceh,1994,1299699.00,329041.00,1521.0,82.12,26.92
2,Aceh,1995,1382905.00,339253.00,1476.0,82.72,26.27
3,Aceh,1996,1419128.00,348223.00,1557.0,83.00,26.08
4,Aceh,1997,1368074.00,337561.00,1339.0,82.46,26.31
...,...,...,...,...,...,...,...
219,Lampung,2016,3831923.00,390799.00,2317.6,79.40,26.45
220,Lampung,2017,4090654.00,396559.00,1825.1,77.04,26.36
221,Lampung,2018,2488641.91,511940.93,1385.8,76.05,25.50
222,Lampung,2019,2164089.33,464103.42,1706.4,78.03,27.23
223,Lampung,2020,2604913.29,545149.05,2211.3,75.80,24.58

In [ ]:
Tabel menampilkan data produksi pertanian (padi) dari tahun 1993 hingga 2020 untuk berbagai provinsi di Pulau Sumatera, 
seperti Aceh dan Lampung. Data mencakup variabel penting seperti produksi, luas panen, curah hujan, kelembapan, 
dan suhu rata-rata. Produksi padi di Lampung pada tahun 2020 lebih tinggi dibandingkan 2019, walaupun suhu rata-rata lebih rendah.